<br /><br /><br /><br />

<style>
    .nav-tabs {
        border-bottom: 2px solid #DDD;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-width: 0;
        }

        .nav-tabs > li > a {
            border: none;
            color: #666;
        }

            .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
                border: none;
                color: #4285F4 !important;
                background: transparent;
            }

            .nav-tabs > li > a::after {
                content: "";
                background: #4285F4;
                height: 2px;
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: -1px;
                transition: all 250ms ease 0s;
                transform: scale(0);
            }

        .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
            transform: scale(1);
        }

    .tab-nav > li > a::after {
        background: #21527d none repeat scroll 0% 0%;
        color: #fff;
    }

    .tab-pane {
        padding: 15px 0;
    }

    .tab-content {
        padding: 20px
    }

    .card {
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
    }

    body {
        background: #EDECEC;
        padding: 50px
    }
</style>


<div class="main_section">
    <div class="container">
        <div class="chat_container">
            <div class="col-sm-2 chat_sidebar">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="search-query form-control" placeholder="Search Member" />
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <!--<div class="dropdown all_conversation">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-weixin" aria-hidden="true"></i>
                            All Members
                            <span class="caret pull-right"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">
                                    <li><a href="#"> All Conversation </a> </li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>-->
                    <div class="member_list">
                        <ul class="list-unstyled">
                            <li class="left clearfix" *ngFor="let item of usersInRoom">
                                <span class="chat-img pull-left">
                                    <img src="http://saffroninteractive.com/wp-content/uploads/2017/10/empty-avatar2.png" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font" style="vertical-align:sub">{{item.Name}} </strong> 
                                        <div class="{{OnlineStatus[item.OnlineStatus]}} pull-right"></div>
                                    </div>
                                    <!--<div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                                    </div>-->
                                </div>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 message_section">
                <div class="row">
                    <div class="new_message_head">
                        <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> Room Name [{{currentRoom}} - {{passCode}}]</button></div><div class="pull-right">
                            
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>Action
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li><a href="" (click)="changeOnlineStatus(0)">Online</a></li>
                                    <li><a href="" (click)="changeOnlineStatus(1)">Offline</a></li>
                                    <li><a href="" (click)="changeOnlineStatus(2)">Away</a></li>
                                    <li><a href="" (click)="changeOnlineStatus(3)">Busy</a></li>
                                    <li><a href="" (click)="disconnectMe()">Leave Room</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--new_message_head-->
                    <div class="chat_area" #scrollMe>
                        <ul class="list-unstyled">
                            
                            <li class="left clearfix" *ngFor="let item of messages">
                                <span class="chat-img1 pull-left">
                                    <img src="http://saffroninteractive.com/wp-content/uploads/2017/10/empty-avatar2.png" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body1 clearfix">
                                    <p><b>{{item.Sender}}</b><br />{{item.Message}}
                                        <span class="chat_time pull-right">{{item.SendTime}}</span>
                                    </p>
                                    
                                </div>
                            </li>
                            
                            <!--<li class="left clearfix admin_chat">
                                <span class="chat-img1 pull-right">
                                    <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                                </span>
                                <div class="chat-body1 clearfix">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                                    <div class="chat_time pull-left">09:40PM</div>
                                </div>
                            </li>-->
                        </ul>
                    </div><!--chat_area-->
                    
                    <div class="message_write">
                        <!--[hidden]="!typeNotify"-->
                        <div style="color:#808080;display:inline-block">{{typeNotify}}</div> 
                        <textarea class="form-control" placeholder="type a message" [(ngModel)]="message" (keyup.enter)="sendMessage();" (keyup)="notifyRoom()"></textarea>
                        <div class="clearfix"></div>
                        <div class="chat_bottom">
                            <a href="#" class="pull-left upload_btn">
                                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                Add Files
                            </a>
                            <a href="#" class="pull-right btn btn-success" (click)="sendMessage()">
                                Send
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!--message_section-->

            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#joinRooms" aria-controls="joinRooms" role="tab" data-toggle="tab" title="The rooms where you already join.">Join Rooms</a></li>
                                <li role="presentation"> <a href="#myRooms" aria-controls="myRooms" role="tab" data-toggle="tab" title="The rooms which is created by you.">Manage Rooms</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="joinRooms" style="padding-top:0px;">
                                    <div class="room_list">
                                        <ul class="list-unstyled">
                                            <li class="left clearfix" *ngFor="let item of chatProfile.Rooms">
                                                <div class="chat-body clearfix">
                                                    <div class="header_sec room_item">
                                                        <strong class="primary-font" style="vertical-align:sub" title="Room Name : {{item.RoomName}}, Pass Code : {{item.PassCode}} ">{{item.RoomName}} - [ {{ item.PassCode }} ] </strong>
                                                        <!--<input type="button" class="btn btn-xs btn-danger pull-right" value="Delete"  />-->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="myRooms" style="padding:0px;">

                                    <div class="room_list">
                                        <ul class="list-unstyled">
                                            <li class="left clearfix" *ngFor="let item of roomOwnByUser">
                                                <div class="chat-body clearfix">
                                                    <div class="header_sec room_item">
                                                        <strong class="primary-font" style="vertical-align:sub">{{item.RoomName}} - [ {{ item.PassCode }} ] </strong>
                                                        <!--<input type="button" class="btn btn-xs btn-danger pull-right" value="Delete"  />-->
                                                        <a href="#" class="btn btn-xs btn-danger pull-right" (click)="deleteRoom(item.RoomName)">Delete</a>
                                                        <!--<div class="btn-group pull-right" role="group" aria-label="...">
                                                            <button type="button" class="btn btn-xs btn-danger"> Delete </button>
                                                            <button type="button" class="btn btn-xs btn-warning">Inactive</button>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="text-center" *ngIf="roomOwnByUser?.length == 0">
                                            <b>You are not owning any room</b>
                                        </div>
                                    </div>


                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div>
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Create Room</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Search Room</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">

                                    <form class="form-horizontal company" role="form" id="comp" [formGroup]="createRoomForm">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" id="RoomName" formControlName="RoomName" placeholder="Room Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <!--<input type="submit" class="btn btn-warning" id="Create" name="CreateRoom" value="Create" (click)="createNewRoom('Create')">-->
                                                <input type="submit" class="btn btn-success" id="CreateRoom" name="CreateRoom" value="Create And Join" (click)="createNewRoom('CreateAndJoin')" >
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                            </div>
                        </div>
                    </div>

                </div>
   
            </div>

            
        </div>
    </div>
</div>





